<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Eliminar Categoria</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h1>Eliminar Categoria</h1>
    
    <p>¿Estás seguro de que deseas eliminar la categoria<strong th:text="${categoria.descripcion}"></strong>?</p>
    
    <form action="#" th:action="@{/categoria/eliminar/{id}(id=${categoria.id})}" method="post">
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="/categoria/index" class="btn btn-secondary">Cancelar</a>
    </form>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>