<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listar Productos</title>
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1 class="mb-4">Listado de Productos</h1>
        
        
        <!-- Botón para insertar nuevo producto -->
        <a href="/producto/inserir" class="btn btn-primary mb-3">Agregar Nuevo Producto</a>
        <!-- Botón para insertar nueva categoria -->
        <a href="/categoria/nova" class="btn btn-primary mb-3">Agregar Nueva Categoria</a>
        
        <!-- Tabla de productos -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Categoría</th>
                    <th>Imagen</th> 
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="producto : ${productos}">
                    <td th:text="${producto.id}"></td>
                    <td th:text="${producto.nombre}"></td>
                    <td th:text="${producto.precio}"></td>
                    <td th:text="${producto.categoria.descripcion}"></td>
                    <td>
                        <img th:src="@{/img/{nombreImagen}(nombreImagen=${producto.imagen})}" alt="Imagen del producto"
                        style="width: 200px; height: 150px;">

                    </td>
                    <td>
                        <a th:href="@{/producto/editar/{id}(id=${producto.id})}" class="btn btn-warning btn-sm">Editar</a>
                        <a th:href="@{/producto/eliminar/{id}(id=${producto.id})}" class="btn btn-danger btn-sm"
                           onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?');">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
